services:
  mysql:
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: spotifyjamserver
      MYSQL_DATABASE: spotifyjam
      MYSQL_USER: spotifyuser
      MYSQL_PASSWORD: spotifypass
    ports:
      - '127.0.0.1::3306'
    volumes:
      - mysql_data:/var/lib/mysql
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 768M
        reservations:
          cpus: '0.5'
          memory: 512M

volumes:
  mysql_data:
